body {
  font-family: "Microsoft Yahei", Arial, sans-serif;
}

#app {
  width: 320px;
}

#list {
  height: 430px;
  overflow-x: hidden;
}

md-input-container .md-errors-spacer {
  min-height: 1px;
  min-width: 1px;
}

.secondary-button-padding p {
  padding-right: 20px;
}

.secondary-button-padding .info {
  font-size: 0.5em;
}
