<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <!-- build:css styles/popup-vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body>

    <div id="app" ng-controller="mainController">
        <md-toolbar md-tab-scroll class="md-whiteframe-z2">
          <div class="md-toolbar-tools">
            <md-icon md-svg-icon="alarm"></md-icon>
            <h2>{{i18n('appName')}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Add" ng-click="putRemind($event)">
              <md-icon md-svg-icon="alarm_add"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-content id="list">
          <md-list>
            <md-list-item class="md-2-line" ng-repeat="r in $storage.reminds" ng-click="putRemind($event, r)" ng-swipe-right="onSwipeRight(r)">
              <div class="md-list-item-text">
                <h3>{{r.message}}</h3>
                <p>{{r.next}}</p>
              </div>
              <md-switch ng-model="r.enable" class="md-secondary md-accent"></md-switch>
              <md-divider inset/>
            </md-list-item>
          </md-list>
        </md-content>
    </div>

    <!-- build:js scripts/popup-vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="scripts/popup.js"></script>
    <!-- endbuild -->
  </body>
</html>
