<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <!-- build:css styles/popup-vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body>
    <!-- remind app -->
    <div id="app" ng-controller="mainController">
        <!-- toolbar -->
        <md-toolbar md-tab-scroll class="md-whiteframe-z2">
          <div class="md-toolbar-tools">
            <md-icon md-svg-icon="alarm"></md-icon>
            <h2>{{i18n('appName')}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Add a new remind" ng-click="editRemind($event)">
              <md-icon md-svg-icon="alarm_add"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <!-- reminds list -->
        <md-content id="list">
          <md-list>
            <md-list-item class="md-2-line secondary-button-padding" ng-repeat="r in reminds track by $index" ng-click="editRemind($event, r)" ng-swipe-right="deleteRemind(r)">
              <div class="md-list-item-text">
                <p>{{r.message}}</p>
                <p style="font-size: 1em; color: cornflowerblue;" ng-if="r.enable">{{i18n('remindNext')}} {{r.when | amDateFormat: 'MM/DD HH:mm'}}</p>
                <p style="font-size: 1em; color: cornflowerblue;" ng-if="!r.enable">{{i18n('remindAfter', r.after)}}</p>
              </div>
              <md-switch ng-change="enableChanged(r)" ng-model="r.enable" class="md-secondary md-accent"></md-switch>
              <md-divider inset/>
            </md-list-item>
          </md-list>
        </md-content>
    </div>

    <!-- build:js scripts/popup-vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="scripts/popup.js"></script>
    <!-- endbuild -->
  </body>
</html>
