<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{i18n('editTitle')}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Close edit dialog" ng-click="cancel()">
        <md-icon md-svg-icon="close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-padding" ng-cloak>
    <md-content>
      <form name="editForm">
        <md-input-container class="md-block">
          <label>{{i18n('optionNullMessage')}}</label>
          <input equired ng-model="remind.message" name="message">
          <div ng-messages="editForm.message.$error">
            <div ng-message="required">Message is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>{{i18n('optionNullAfter')}}</label>
          <input type="number" required ng-model="remind.after" name="after">
          <div ng-messages="editForm.after.$error">
            <div ng-message="required">Time is required.</div>
          </div>
        </md-input-container>
        <md-checkbox ng-model="remind.enable">{{i18n('optionEnable')}}</md-checkbox>
        <md-checkbox ng-model="remind.repeat">{{i18n('optionRepeat')}}</md-checkbox>
      </form>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-if="remind.name != undefined" aria-label="Delete current remind" class="md-warn" ng-click="delete()">
      {{i18n('buttonDelete')}}
    </md-button>
    <md-button class="md-primary" aria-label="Save current remind" ng-click="ok()">
      {{i18n('buttonSave')}}
    </md-button>
  </md-dialog-actions>
</md-dialog>
